
@charset "utf-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;/* normal は 400、bold は 700 */
  line-height: 1.5;
  color: #505050;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: none;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 1080px;
  width: 100%;
  padding-inline: 100px;
  margin-inline: auto;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
    .inner {
        width: calc(100% - 60px); /* 左右30pxずつ引く */
        padding: 0;               /* 内側余白はなし */
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {
  .inner{
    padding: 0 20px 0 20px;
  }
}


/* header */
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

@media screen and (max-width: 1079px) {
    .header__inner {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto; /* 中央寄せ */
      box-sizing: border-box;
    }
}

/* 767px未満で 左右余白20px に切り替える */
@media screen and (max-width: 767px) {
    .header__inner {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .header__inner {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

.header__logo {
  display: flex;         /* 横並びにする */
  align-items: center;   /* 上下中央揃えにする */
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    font-size: 1.25rem;
    padding-left: 20px;
  }
}

.logo {
  width: 25px;
  height: auto;
  margin-right: 9.51px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 25px;
    height: auto;
  }
}


.site-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .site-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 33px;
  }
}

.header__link {
    height: 50px;
    font-size: 1.125rem;
    display: flex;
    align-items: center;     /* 上下中央揃え */
}

.header-nav {
  height: 50px;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header-nav__lists {
  display: flex;
  column-gap: 10px;
  height: 50px;
  align-items: stretch;
  padding-right: 60px;
}

.header-nav__link {
  font-size: 0.875rem;
  color: #505050;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  line-height: 33px;
  padding-top: 5px;
  text-decoration: none;
  justify-content: center;
}

.header-nav__list {
  height: 50px;
}

/* FV */
.fv {
  position: relative;
  margin-top: 50px;
}


.fv__img {
  position: relative;
  height: auto;     /* カンプに合わせる高さ */
  margin-top: 0;  /* headerの高さ分 */
  width: 100%;
  overflow: hidden; /* 高さは画像の比率に合わせる */
}

/* PCのときだけ500px確保 */
@media screen and (min-width: 1080px) {
  .fv__img {
    min-height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .fv__img {
    height: 100%; /* SPカンプの高さに合わせる */
    margin-top: 0;  /* headerの高さ分 */
    position: relative;
  }  
}

@media screen and (max-width: 375px){
    .fv__img {
      height: 100%; /* SPカンプの高さに合わせる */
      margin-top: 50px;  /* headerの高さ分 */
      position: relative;
    }
}

.fv__text {
  position: absolute;
  top: 51.5%;
  background-color:rgba(255, 255, 255, 0.702);
  display: inline-block;
  padding: 0px 36px 20px 99px;
  transform: translate(0%, -50%);
  width: 492px;   /* 横幅 */
  height: 210px;  /* 高さ */
}

@media screen and (max-width: 850px) {
  .fv__text {
  width: 442px;   /* 横幅 */
  height: 210px;  /* 高さ */
}
}


@media screen and (max-width: 767px) {
  .fv__text {
    padding: 10px 10px 10px 20px;
    width: 380px;   /* 横幅 */
    height: 210px;  /* 高さ */
    bottom: -105px;
    position: absolute;
    box-sizing: border-box;
    top: auto;
  }
}

@media screen and (max-width: 375px) {
  .fv__text {
    padding: 5px 10px 20px 20px;
    width: 311px;   /* 横幅 */
    height: 148px;  /* 高さ */
    bottom: -75px;
    position: absolute;
    box-sizing: border-box;
    top: auto;
  }
}

.fv__text00 {
  font-size: 1.5625rem;
  line-height: 60px;
  margin-top: 11px; /* ← この行だけ上に */
}


@media screen and (max-width: 850px) {
  .fv__text00 {
    font-size: 1.2625rem;
    line-height: 60px;
    padding-top: 15px;
    margin-top: 0;
  }
}

@media screen and (max-width: 375px) {
  .fv__text00 {
    font-size: 1.25rem;
    line-height: 40px;
    margin-top: -10px;
    padding-top: 18px;
  }
}

.fv__text01 {
  color: #0D96A0;
  font-size: 2.5rem;
  line-height: 60px;
  position: relative;
  margin-top: -4px; /* ← この行だけ上に */
}


@media screen and (max-width: 850px) {
   .fv__text01 {
    font-size: 2.1rem;
    line-height: 50px;
   }
}

@media screen and (max-width: 375px) {
   .fv__text01 {
    font-size: 1.9rem;
    line-height: 40px;
    margin-top: 0; /* ← この行だけ上に */
   }
  }

  .fv__img img {
    width: 100%;
    height: auto;
    display: block;
  }

/* greeting */
.greeting {
  padding: 67px 0 61px 0;
  position: relative;
  background-image: url("../images/asiato_2.jpg");
  background-repeat: no-repeat;
  background-size: 83.75px auto;
  background-position: calc(100% - 75px) calc(100% - 32.88px);
  max-width: 1080px;
  margin-inline: auto;
}

@media screen and (max-width: 767px){
  .greeting {
    padding: 30px 20px 30px 20px;
    background-position: calc(100% - 29.55px) calc(100% - 40.57px);
    background-image: url("../images/asiato_2_sp.jpg");
    background-size: 68.75px auto;
    position: relative;
  }
}

@media screen and (max-width: 375px){
  .greeting {
    padding: 49px 20px 37px 20px;
    background-position: calc(100% - 29.55px) calc(100% - 48.57px);
    background-image: url("../images/asiato_2_sp.jpg");
    background-size: 68.75px auto;
    position: relative; 
  }
}

.text_02 {
    color: #0D96A0;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 25px;
    z-index: 2;
    line-height: 50px;
    font-weight: 700;/* bold */
  }


@media screen and (min-width: 375px) {
  .text_02 {
    font-size: 1.5625rem;
    line-height: 35px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 767px) {
  .text_02 {
    color: #0D96A0;
    font-size: 1.875rem;
    line-height: 35px;
  }
}

.text_03 {
  font-size: 1.125rem;
  text-align: center;
  line-height: 33px;
  font-weight: 500;/* medium */
  z-index: 2;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  .text_03 {
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .text_03 {
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
    padding-top: 0;
    
  }
}

.br-sp {
  display: none;/* 初期状態は改行非表示 */
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: block;/* 767px以下で改行表示 */
  }
}

/* strength */
.strength {
  padding-block: 65px 68px;
}

@media screen and (max-width: 767px) {
  .strength {
    padding-block: 51px 35px;
  }
}

@media screen and (max-width: 375px) {
  .strength {
    padding-block: 53px 35px;
  }
}

.strength__container {
  max-width: 880px;
   margin-inline: auto;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px; /* 画像とh2の間の隙間 */
}

.section-title02 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px; /* 画像とh2の間の隙間 */
}

.section-title03 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* 画像とh2の間の隙間 */
}

.section-title04 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* 画像とh2の間の隙間 */
  padding-left: 5px;
}

.section-title05 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px; /* 画像とh2の間の隙間 */
  padding-left:3px;
}


/* section-title h2 見出し（全セクション共通） */
.section-title h2,
.section-title02 h2,
.section-title03 h2,
.section-title04 h2,
.section-title05 h2
 {
  font-size: 1.5625rem;
}

.title-icon {
  width: 25.49px;
  height: auto;
}

.section-bg {
  background-color: rgba(13,150,160,0.102);
}

.strength__h3 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 33px;
  margin: 0 0 18px 0;
}

@media screen and (max-width: 767px) {
  .strength__h3 {
    margin-top: 25px;
    font-size: 1.25rem;
  }
}

.strength__desc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .strength__desc {
  font-size: 1rem;
  line-height: 30px;
}
}

@media screen and (max-width: 375px) {
  .strength__desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}
}

.strength__content01 {
  display: flex;
  justify-content: center;
  align-items: stretch; /* 高さを揃える */
  column-gap: calc(43 / 880 * 100%);
  margin-top: 44px;
}

.strength__content02 {
  display: flex;
  justify-content: center;
  align-items: stretch; /* 高さを揃える */
  column-gap: calc(40 / 880 * 100%);
  margin-top: 50px;
}

.strength__content03 {
  display: flex;
  justify-content: center;
  align-items: stretch; /* 高さを揃える */
  column-gap: calc(43 / 880 * 100%);
  margin-top: 50px;
}


.strength__text,
.strength__text01,
.strength__image {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 縦中央揃え */
  flex: 1; /* 横幅を均等に */
}

@media screen and (min-width: 1080px) {
  .strength__image {
    max-width: 440px;      /* 親に幅を固定 */
    width: 100%;
    height: 100%;
    flex: 0 0 auto;    /* flexで広がらないように */
  }
  .strength__image img {
    width: 100%;       /* 親に合わせる */
    height: auto;
  }
}

.strength__text {
  max-width: 396px;
  margin-left: 0;
  padding-left: 0;
}

.strength__text01 {
  max-width: 400px;
  margin-left: 4px;
  padding-left: 0;
  padding-top: 4px;
}


  @media screen and (max-width: 767px) {
  .strength__content01 {
    flex-direction: column; /* 縦並び */
    margin-top: 40px;
  }
  .strength__content02,
  .strength__content03 {
    flex-direction: column; /* 縦並び */
    margin-top: 42px;
  }

  .strength__image {
    order: 1; /* 写真を先に */
  }

  .strength__text,
  .strength__text01 {
    order: 2; /* 文字を後に */
  }

  .strength__text01 {
    margin-left: 0;
    padding-top: 1px;
  }

  .strength__h3 {
    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .strength__desc {
    font-size: 1rem;
    line-height: 30px;
  }

  .strength__text {
  max-width: 100%;
}
}

.br-1080 {
  display: none;
}

/* PC幅（1080px以上）のときだけ改行 */
@media screen and (min-width: 1080px) {
  .br-1080 {
    display: block;
  }
}

.br-375 {
  display: none;
}

/* SP幅（375px以下）のときだけ改行 */
@media screen and (max-width: 375px) {
  .br-375 {
    display: block;
  }
}

/* service */
.service {
  padding-block: 65px 58px;
}

@media screen and (max-width: 767px) {
  .service {
    padding-block: 45px 0;
  }
}

.service__container {
  max-width: 880px;
  margin-inline: auto;
  margin-top: 45px;
  text-align: center;
  display: flex;
  column-gap: calc(50 / 880 * 100%);
}

@media screen and (max-width: 767px) {
  .service__container {
    flex-direction: column;
    margin-top: 44px;
  }
}

.service-item__desc01 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 8px 0;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .service-item__desc01 {
    margin: 1px 0 11px 0;
  }
}

.service-item__desc02 {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .service-item__desc02 {
    font-size: 1rem;
  }
}


@media screen and (max-width: 767px) {
  .service-item__image {
    padding-block: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .service__item {
    margin-bottom: 39px;
  }
}

/* news */
@media screen and (min-width: 1080px) {
  .news {
    padding-block: 63px 69px;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .news {
    padding-block: 42px 48px;
  }
}

@media screen and (max-width: 375px) {
    .news {
    padding-block: 43px 30px;
  }
}

.news-list {
  list-style: none;
  margin: 44px 0 0 0;
  padding: 0;
  border-top: 1px solid #707070;
  max-width: 880px;
  margin-inline: auto;
}

.news-list li {
  border-bottom: 1px solid #707070;
  padding-bottom: 1px;
}

.news-list li a {
  display: flex;
  align-items: center;       /* 縦方向中央 */
  justify-content: center;   /* 横方向中央 */
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
}

.news-list a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.news-list time {
  font-size: 1.0625rem;
  line-height: 25px;
  font-weight: 700;
  width: 120px;
  flex-shrink: 0;    /* 幅を縮めないようにする */
  padding: 5px 0 0 3px;
}

.news-title {
  font-size: 1.25rem;
  line-height: 20px;
  font-weight: 700;
  color: #0D96A0;
  width: 200px;
  flex-shrink: 0;    /* タイトルが潰れないようにする */
  margin-right: 9px;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  .news-title {
    padding-top: 0;
  }
}

.news-text,
.news-text01 {
  font-size: 1.0625rem;
  line-height: 30px;
  font-weight: 500;
  flex: 1;    /* 残りの幅をすべて取る */         
}

@media screen and (max-width: 767px) {
  .news-text {
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 26px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .news-text01 {
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 26px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .news-list a {
    flex-direction: column;
    align-items: flex-start;
  }

  .news-list li a {
    padding: 24px 0 11px 7px;
  }

  .news-list a time,
  .news-list a .news-title
  .news-list a .news-text {
    width: 100%;
    text-align: left;
  }

 .news-title {
    width: 100%;
    margin: 0 0 9px 0;
    padding-left: 2px;
  }

  .news-list {
    margin: 42px 0 20px 0;
  }

  .news-list a time {
    margin-bottom: 4px;
  }

  .news-text {
    padding-bottom: 14px;
    padding-left: 3px;
    padding-right: 10px;
    font-size: 1rem;
    line-height: 24px;
  }

  .news-text01 {
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 24px;
  }

}


/* access */
.access {
  padding-block: 63px 70px;
}

@media screen and (max-width: 767px) {
  .access {
    padding-block: 43px 51px;
  }
}

.access__content {
  display: flex;
  justify-content: center;
  column-gap: calc(46 / 880 * 100%);
  margin-top: 44px;
  max-width: 880px;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .access__content {
    flex-direction: column;
    align-items: center; 
  }
}

.access__text {
  flex: 1;
  font-size: 1.125rem;
  line-height: 27px;
}

.map-wrap {
  max-width: 440px;
  aspect-ratio: 440 / 300;
  width: 100%;
}

.map-wrap iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

@media screen and (max-width: 375px) {
  .map-wrap {
    max-width: 335px;
    aspect-ratio: 335 / 222;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .access__image {
    padding-bottom: 29px;
    width: 100%;
  }
  
  .access__image img {
    width: 100%;
    height: auto;
  }
}

.access__text01 {
  font-size: 1.375rem;
  line-height: 33px;
  margin-bottom: 15px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .access__text01 {
    font-size: 1.375rem;
    margin-bottom: 12px;
  }
}

.access__text02 {
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 14px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .access__text02 {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.access__text03 {
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 5px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .access__text03 {
    font-size: 1rem;
    line-height: 27px;
    padding: 0 0 1px 1px;
  }
}

@media screen and (max-width: 375px) {
  .access__text03 {
    font-weight: 100;
    margin-top: 8px;
    padding: 0;
    vertical-align: middle;
  }
}

.access__text07 {
  color: #0D96A0;
  font-size: 1.5625rem;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .access__text07 {
    font-size: 1.5625rem;
    line-height: 40px;
    margin-bottom: 7px;
    padding-left: 2px;
  }
}

.access__text04 {
  font-size: 1.125rem;
  line-height: 27px;
  font-weight: 500;
  margin-top: 9px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .access__text04 {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 18px;
  }
}


.access__text ul {
  max-width: none;
}

.access__text05 {
  font-size: 1.125rem;
  line-height: 40px;
  font-weight: 500;
  padding-left: 5px;
  padding-top: 20px;
}

@media screen and (max-width: 765px) {
  .access__text05 {
    font-size: 1rem;
    line-height: 25px;
    padding: 15px 0 0 0;
    margin-top: 0;
  }
}


.access__text06 {
  font-size: 1.125rem;
  line-height: 40px;
  margin-top: 1px;
  font-weight: 500;
  padding-left: 5px;
  padding-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .access__text06 {
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .access__text06 {
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 11px;
  }
}


.underline {
  position: relative;
  padding-left: 1px; /* 文字の左余白 */
}

.underline::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 5px;   /* ← 上端に配置 */
  width: 100%;
  height: 1px;
  background-color: #707070; /* 線の色 */
}

.underline01{
  position: relative;
  padding-left: 1px; /* 文字の左余白 */
}

.underline01::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: 0;   /* ← 下端に配置 */
  width: 100%;
  height: 1px;
  background-color: #707070; /* 下線の色 */
}

@media screen and (max-width: 375px) {
.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;   /* ← 上端に配置 */
  width: 100%;
  height: 1px;
  background-color: #707070; /* 線の色 */
}

.underline01{
  position: relative;
}

.underline01::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;   /* ← 下端に配置 */
  width: 100%;
  height: 1px;
  background-color: #707070; /* 下線の色 */
}
}

@media screen and (max-width: 767px) {
  .underline01 {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .access__text {
    justify-content: left;
    width: 100%;
  }
}

/* contact */
.contact {
  padding-block: 62px 79px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact {
      padding-block: 43px 51px;
  }
}

.section-desc {
  font-size: 1.06rem;
  line-height: 30px;
  margin: 25px 0 37px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-desc {
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    margin: 40px 0 34px 0;
  }
}

@media screen and (max-width: 440px) {
  .section-desc {
    text-align: left;
  }
}

.form {
  max-width: 880px;
  margin-inline: auto;
  margin-top: 29px;
}

@media screen and (max-width: 767px) {
  .form {
    margin-top: 25px;
  }
}

.form__item {
  display: flex;
  column-gap: 30px;
}

.form__item:not(:first-of-type) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .form__item:not(:first-of-type) {
    margin-top: 17px;
  }
}

.form__label {
  font-size: 1.25rem;
  width: 140px;
  font-weight: 700;
  padding: 6px 0 1px 0;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .form__label {
    font-size: 1.125rem;
    line-height: 33px;
    padding-top: 1px;
  }
}

.form__input {
  flex: 1;
}

.form__textarea {
  flex: 1;
  line-height: 0;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding-inline: 15px;
  font-size: 1.1rem;
}

@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"] {
    height: 50px;
    padding-inline: 15px;
    font-size: 1.125rem;
}
}

.form__textarea {
  background-color: #fff;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 15px;
  font-size: 1.1rem;
  line-height: 33px;
}

@media screen and (max-width: 375px) {
  .form__textarea {
  padding: 13px;
}
}

input[type="submit"] {
  width: 200px;
  height: 50px;
  background-color: #0D96A0;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.contact__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .contact__button input[type="submit"] {
    width: 100%;
    max-width: none;
    height: 41px;
    font-size: 1.25rem;
    line-height: 26px;
    padding-top: 1px;
    letter-spacing: 10em; /* 文字間を広げる */
  }
}

input[type="submit"]:hover {
  color: #FFF;
  background-color: #085358;
}

@media screen and (max-width: 767px) {
  .form__items {
    display: flex;
    flex-direction: column;
  }
  .form__item {
    display: flex;
    flex-direction: column;
  }
  .form__label {
    width: 100%;
  }

  .form__input,
  .form__textarea {
    width: 100%;
  }

  .form__textarea textarea {
    height: 300px;
  }
}

@media screen and (max-width: 375px) {
  .form__textarea textarea {
    height: 265px;
  }
  .contact__button {
    margin-top: 50px;
  }
}


.contact__button input[type="submit"] {
  letter-spacing: 0.1em; /* 文字間を広げる */
}

#form__content {
  letter-spacing: 1em; /* 文字間を広げる */
}

/* footer */
.footer {
  background-color: #505050;
  padding-block: 46px 68px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-block: 25px 50px;
  }
}

.footer__content {
  max-width: 737px;
  margin-inline: auto;
}

.footer-nav {
  border-bottom: 1px solid #fff;
  padding-block: 20px 6px;
}

@media screen and (max-width: 767px) {
  .footer-nav {
  padding-block: 20px 5px;
}
}

.footer-nav__lists {
  display: flex;
  justify-content: center;
  column-gap: 14px;
  margin-block: 0 14px;
}

@media screen and (max-width: 803px) {
  .footer-nav__lists {
    display: flex;
    flex-wrap: wrap;        /* 画面幅に合わせて改行 */
    justify-content: center; /* 中央揃え */
    column-gap: 20px;
  }
}

.footer-nav__list a {
  color: #fff;
}

.footer-nav__link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .footer-nav__link {
    font-size: 1.125rem;
    line-height: 33px;
  }
}

.footer-nav__list {
  list-style: none;
}

.footer__copyright {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 33px;
  margin-block: 26px 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 1rem;
    line-height: 33px;
    margin-block: 15px 28px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 33px;
    margin-block: 15px 28px;
  }
}

.sns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 13px;
  margin-top: 10px;
}

@media screen and (max-width:767px) {
  .sns {
    margin-top: 18px;
  }
}

.sns__list img {
  max-width: 20px;
  height: auto;
}

.li {
  word-spacing: 10px;
}
