
@charset "utf-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;/* normal は 400、bold は 700 */
  line-height: 1.5;
  color: #505050;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: none;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 1080px;
  padding-inline: 100px;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px 0 20px;
  }
}
/* header */
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

.header__logo {
  display: flex;         /* 横並びにする */
  align-items: center;   /* 上下中央揃えにする */
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    font-size: 1.25rem;
    padding-left: 20px;
  }
}

.logo {
  width: 25px;
  height: auto;
  margin-right: 9.51px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 25px;
    height: auto;
    margin-left: 9.51px;
  }
}

.site-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.header__link {
    height: inherit;
    font-size: 1.125rem;
    display: flex;
    align-items: center;     /* 上下中央揃え */
}

.header-nav {
  height: inherit;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header-nav__lists {
  display: flex;
  column-gap: 10px;
  height: inherit;
  align-items: center;
  padding-right: 60px;
}

.header-nav__link {
  font-size: 0.875rem;
  color: #505050;
  height: inherit;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

/* FV */
.fv {
  position: relative;
  margin-top: 50px;
}

@media screen and (min-width: 767px) {
  .fv {
    position: relative;
  }
}

.fv__img {
  position: relative;
  height: auto;     /* カンプに合わせる高さ */
  margin-top: 50px;  /* headerの高さ分 */
  width: 100%;
  overflow: hidden; /* 高さは画像の比率に合わせる */
}

@media screen and (max-width: 767px) {
  .fv__img {
    width: 100%;
    height: auto;
  }  
}

.fv__text {
  position: absolute;
  top: 50%;
  background-color:rgba(255, 255, 255, 0.702);
  display: inline-block;
  padding: 23px 35px 23px 99px;
  transform: translate(0%, -50%);
}

@media screen and (max-width: 1000px) {
  .fv__text {
    top: 50%;
    padding: 20px 30px 20px 99px;
  }
}

@media screen and (max-width: 1000px) {
  .fv__text {
    top: 50%;
    padding: 10px 20px 10px 99px;
  }
}

@media screen and (max-width: 767px) {
  .fv__text {
    top: auto;
    bottom: 0;
    transform: none;
    padding: 18px 23px 14px 20px;
  }
}

@media screen and (max-width: 375px) {
  .fv__text {
    padding: 18px 23px 14px 20px;
  }
}

@media screen and (max-width: 320px) {
  .fv__text {
    padding: 18px 18px 14px 20px;
  }
}


.fv__text p {
  font-size: 1.6rem;
}

@media screen and (max-width: 1000px) {
  .fv__text p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 880px) {
  .fv__text p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  .fv__text p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 375px) {
  .fv__text p {
    font-size: 1.25rem;
  }
}

.fv__text01 {
  color: #0D96A0;
  font-size: 2.5rem;
  line-height: 60px;
}

@media screen and (max-width: 1000px) {
   .fv__text01 {
    font-size: 2.1rem;
    line-height: 40px;
   }
}

@media screen and (max-width: 880px) {
   .fv__text01 {
    font-size: 1.8rem;
    line-height: 40px;
   }
}

@media screen and (max-width: 767px) {
   .fv__text01 {
    font-size: 1.9rem;
    line-height: 40px;
   }
}

@media screen and (max-width: 375px) {
   .fv__text01 {
    font-size: 1.9rem;
    line-height: 40px;
   }
}

/* greeting */
.greeting {
  padding: 66px 60px 54px 60px;
  position: relative;
  background-image: url("../images/asiato_2.jpg");/* フォルダの位置に注意 */
  background-repeat: no-repeat;
  background-size: 83.75px auto;
  background-position: calc(100% - 76.24px) calc(100% - 27.88px);
  min-height: 300px; 
}

@media screen and (max-width: 767px){
  .greeting {
    padding: 49px 20px 49px 20px;
    background-position: calc(100% - 29.55px) calc(100% - 46.57px);
  }
}

.text_02 {
  color: #0D96A0;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 15px;
  z-index: 2;
  line-height: 30px;
  font-weight: 700;/* bold */ 
}

@media screen and (min-width: 375px) {
  .text_02 {
    font-size: 1.5625rem;
  }
}

@media screen and (min-width: 767px) {
  .text_02 {
    font-size: 2.4rem;
    line-height: 40px;
  }
}

.text_03 {
  font-size: 1.125rem;
  text-align: center;
  line-height: 33px;
  font-weight: 500;/* medium */
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .text_03 {
    font-size: 1rem;
    text-align: left;
  }
}

.br-sp {
  display: none;/* 初期状態は改行非表示 */
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: block;/* 767px以下で改行表示 */
  }
}

/* strength */
.strength {
  padding-block: 85px 54px;
}

@media screen and (max-width: 767px) {
  .strength {
    padding-block: 51px 35px;
  }
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* 画像とh2の間の隙間 */
}

/* section-title h2 見出し（全セクション共通） */
.section-title h2 {
  font-size: 1.6rem;
}

.title-icon {
  width: 25.49px;
  height: auto;
}

.section-bg {
  background-color: rgba(13,150,160,0.102);
}

.strength__content01 {
  display: flex;
  justify-content: center;
  column-gap: calc(45 / 880 * 100%);
  margin-top: 48px;
}

.strength__h3 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 33px;
  margin: 48px 0 20px 0;
}

@media screen and (max-width: 767px) {
  .strength__h3 {
    margin-top: 27px;
  }
}

.strength__desc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 33px;
}

.strength__content02 {
  display: flex;
  justify-content: center;
  column-gap: calc(45 / 880 * 100%);
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .strength__content01, .strength__content02 {
    flex-direction: column; /* 縦並び */
    margin-top: 42px;
  }

  .strength__image {
    order: 1; /* 写真を先に */
  }

  .strength__text {
    order: 2; /* 文字を後に */
  }

  .strength__h3 {
    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .strength__desc {
    font-size: 1rem;
    text-align: 30px;
  }
}
/* service */
.service {
  padding-block: 77px 60px;
}

.service__items {
  max-width: 880px;
  margin-inline: auto;
  margin-top: 35px;
  text-align: center;
  display: flex;
  column-gap: calc(50 / 880 * 100%);
}

.service-item__desc01 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 8px 0;
  line-height: 25px;
}

.service-item__desc02 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}




/* news */
.news {
  padding-block: 63px 68px;
  position: relative;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 46px;
  max-width: none;
}

th,td {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 15px ;
  text-align: left;
}

.th01 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 25px;
}

.th02 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
  color: #0D96A0;
}

.td {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 30px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

/* access */
.access {
  padding-block: 63px 70px;
}

.access__content {
  display: flex;
  justify-content: center;
  column-gap: calc(46 / 880 * 100%);
  margin-top: 46px;
}

.access__text {
  flex: 1;
  font-size: 1.125rem;
  line-height: 27px
}

.access__image {
  max-width: 440px;
  height: auto;
  display: block;
}

.access__text01 {
  font-size: 1.3rem;
  line-height: 33px;
  margin-bottom: 15px;
}

.access__text02 {
  margin-bottom: 23px;
}

.access__text03 {
  margin-bottom: 12px;
}

.access__text07 {
  color: #0D96A0;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.access__text04 {
  margin-bottom: 27px;
}

.underline {
  border-bottom: #707070 1px solid;
  display: block;          /* 横幅を全体にする */
  padding-bottom: 27px;
}

.access__text ul {
  max-width: none;
}

.access__text06 {
  line-height: 40px;
}

.underline01 {
  border-bottom: #707070 1px solid;
  display: block;          /* 横幅を全体にする */
  padding-bottom: 14px;
}

/* contact */
.contact {
  padding-block: 62px 80px;
  position: relative;
}

.section-desc {
  font-size: 1.1rem;
  line-height: 30px;
  margin: 25px 0 39px 0;
  text-align: center;
}

.form {
  max-width: 880px;
  margin-inline: auto;
  margin-top: 39px;
}

.form__item {
  display: flex;
  column-gap: 30px;
}

.form__item:not(:first-of-type) {
  margin-top: 45px;
}

.form__label {
  font-size: 1.25rem;
  width: 140px;
  font-weight: 700;
}

.form__input {
  flex: 1;
}

.form__textarea {
  flex: 1;
  line-height: 0;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding-inline: 15px;
  font-size: 1.1rem;
}

textarea {
  background-color: #fff;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 15px;
  font-size: 1.1rem;
  line-height: 33px;
}

input[type="submit"] {
  width: 200px;
  height: 50px;
  background-color: #0D96A0;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.contact__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input[type="submit"]:hover {
  color: #FFF;
  background-color: #085358;
}

/* footer */
.footer {
  background-color: #505050;
  padding-block: 66px 72px;
  text-align: center;
}

.footer__content {
  max-width: 737px;
  margin-inline: auto;
}

.footer-nav {
  border-bottom: 1px solid #fff;
  padding-block: 27px 9px;
}

.footer-nav__lists {
  display: flex;
  justify-content: center;
  column-gap: 14px;
  margin-block: 0 21px;
}

.footer-nav__list a {
  color: #fff;
}

.footer-nav__link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

.footer-nav__list {
  list-style: none;
}

.footer__copyright {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 33px;
  margin-block: 27px 9px;
}

.sns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  margin-top: 10px;
}

.sns__list img {
  max-width: 20px;
  height: auto;
}

.ib {
  word-spacing: 10px;
}