
@charset "utf-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;/* normal は 400、bold は 700 */
  line-height: 1.5;
  color: #505050;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: none;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 1080px;
  width: 100%;
  padding-inline: 100px;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px 0 20px;
  }
}
/* header */
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}

@media screen and (max-width: 1079px) {
    .header__inner {
        width: calc(100% - 10px); /* 左右60pxずつ引く */
    }
}

/* 767px未満で 左右余白20px に切り替える */
@media screen and (max-width: 767px) {
    .header__inner {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .header__inner {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

.header__logo {
  display: flex;         /* 横並びにする */
  align-items: center;   /* 上下中央揃えにする */
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    font-size: 1.25rem;
    padding-left: 20px;
  }
}

.logo {
  width: 25px;
  height: auto;
  margin-right: 9.51px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 25px;
    height: auto;
  }
}

.site-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .site-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 33px;
  }
}

.header__link {
    height: inherit;
    font-size: 1.125rem;
    display: flex;
    align-items: center;     /* 上下中央揃え */
}

.header-nav {
  height: inherit;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header-nav__lists {
  display: flex;
  column-gap: 10px;
  height: inherit;
  align-items: center;
  padding-right: 60px;
}

.header-nav__link {
  font-size: 0.875rem;
  color: #505050;
  height: inherit;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  line-height: 33px;
  padding-top: 5px;
}

/* FV */
.fv {
  position: relative;
  margin-top: 50px;
}

@media screen and (min-width: 767px) {
  .fv {
    position: relative;
    margin-top: 50px;
  }
}

.fv__img {
  position: relative;
  min-height: 500px; /* 高さ */
  display: block; /* 下の隙間防止 */
  margin-top: 50px;  /* headerの高さ分 */
  width: 100%;
  overflow: hidden; /* 高さは画像の比率に合わせる */
}

@media screen and (max-width: 767px) {
  .fv__img {
    height: 100%; /* SPカンプの高さに合わせる */
    margin-top: 50px;  /* headerの高さ分 */
    min-height: 550px; /* 高さ */
  }  
}

@media screen and (max-width: 375px){
    .fv__img {
        height: 100%; /* SPカンプの高さに合わせる */
        margin-top: 50px;  /* headerの高さ分 */
        min-height: 550px; /* 高さ */
    }
}

.fv__text {
  position: absolute;
  top: 51%;
  background-color:rgba(255, 255, 255, 0.702);
  display: inline-block;
  padding: 0px 38px 20px 99px;
  transform: translate(0%, -50%);
  height: 210px;  /* 高さ */
   width: 492px;   /* 横幅 */
}


@media screen and (max-width: 1000px) {
  .fv__text {
    top: 50%;
    padding: 20px 30px 20px 99px;
    max-width: 90%;   /* 画面幅の90%までに制限 */
    width: auto;      /* テキストに応じた幅 */
    box-sizing: border-box; /* padding込みでサイズ計算 */
  }
}

@media screen and (max-width: 767px) {
  .fv__text {
    top: auto;
    bottom: 0;
    transform: none;
    padding: 10px 23px 10px 20px;
  }
}

@media screen and (max-width: 375px) {
  .fv__text {
    padding: 19px 0 10px 20px;
  }
}

@media screen and (max-width: 320px) {
  .fv__text {
    padding: 18px 18px 14px 20px;
  }
}

@media screen and (max-width: 767px) {
  .fv__text-inner {
    position: relative;
    top: -5px; /* ← スマホ時だけ文字を上げる */
  }
}

.fv__text00 {
  font-size: 1.5625rem;
  line-height: 60px;
  margin-top: 15px; /* ← この行だけ上に */
}

@media screen and (max-width: 1000px) {
  .fv__text00 {
    font-size: 1.5rem;
    line-height: 60px;
  }
}

@media screen and (max-width: 880px) {
  .fv__text00 {
    font-size: 1.1rem;
    line-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .fv__text00 {
    font-size: 1.25rem;
    line-height: 40px;

  }
}

@media screen and (max-width: 375px) {
  .fv__text00 {
    font-size: 1.25rem;
    line-height: 40px;
  }
}

.fv__text01 {
  color: #0D96A0;
  font-size: 2.5rem;
  line-height: 60px;
  position: relative;
   margin-top: -4px; /* ← この行だけ上に */
}

@media screen and (max-width: 1000px) {
   .fv__text01 {
    font-size: 2.5rem;
    line-height: 60px;
    top: 10px;
    position: relative;
   }
}

@media screen and (max-width: 880px) {
   .fv__text01 {
    font-size: 1.8rem;
    line-height: 40px;
   }
}

@media screen and (max-width: 767px) {
   .fv__text01 {
    font-size: 1.9rem;
    line-height: 40px;
   }
}

@media screen and (max-width: 375px) {
   .fv__text01 {
    font-size: 1.9rem;
    line-height: 40px;
    top: -0.4px;
   }
  }

/* greeting */
.greeting {
  padding: 67px 60px 61px 60px;
  position: relative;
  background-image: url("../images/asiato_2.jpg");
  background-repeat: no-repeat;
  background-size: 83.75px auto;
  background-position: calc(100% - 76.24px) calc(100% - 32.88px);
}

@media screen and (max-width: 767px){
  .greeting {
    padding: 49px 20px 49px 20px;
    background-position: calc(100% - 29.55px) calc(100% - 40.57px);
    background-image: url("../images/asiato_2_sp.jpg");
    background-size: 68.75px auto;
  }
}

@media screen and (max-width: 375px){
  .greeting {
    padding: 48px 20px 39px 20px;
    background-position: calc(100% - 29.55px) calc(100% - 48.57px);
    background-image: url("../images/asiato_2_sp.jpg");
    background-size: 68.75px auto; 
  }
}

.text_02 {
  color: #0D96A0;
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
  line-height: 50px;
  font-weight: 700;/* bold */
}

@media screen and (min-width: 375px) {
  .text_02 {
    font-size: 1.5625rem;
    line-height: 35px;
  }
}

@media screen and (min-width: 767px) {
  .text_02 {
    font-size: 1.875rem;
    line-height: 35px;
  }
}

.text_03 {
  font-size: 1.125rem;
  text-align: center;
  line-height: 33px;
  font-weight: 500;/* medium */
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .text_03 {
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .text_03 {
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
  }
}

.br-sp {
  display: none;/* 初期状態は改行非表示 */
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: block;/* 767px以下で改行表示 */
  }
}

/* strength */
.strength {
  padding-block: 65px 66px;
}

@media screen and (max-width: 767px) {
  .strength {
    padding-block: 51px 35px;
  }
}

@media screen and (max-width: 375px) {
  .strength {
    padding-block: 49px 35px;
  }
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px; /* 画像とh2の間の隙間 */
}

.section-title02 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* 画像とh2の間の隙間 */
}



/* section-title h2 見出し（全セクション共通） */
.section-title h2, .section-title02 h2 {
  font-size: 1.6rem;
}

.title-icon {
  width: 25.49px;
  height: auto;
}

.section-bg {
  background-color: rgba(13,150,160,0.102);
}

.strength__content01 {
  display: flex;
  justify-content: center;
  column-gap: calc(45 / 880 * 100%);
  margin-top: 46px;
}

.strength__h3 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 33px;
  margin: 48px 0 18px 0;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 767px) {
  .strength__h3 {
    margin-top: 27px;
  }
}

.strength__desc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .strength__desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}
}

@media screen and (max-width: 375px) {
  .strength__desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}
}

.strength__content02 {
  display: flex;
  justify-content: center;
  column-gap: calc(45 / 880 * 100%);
  margin-top: 48px;
}

  @media screen and (max-width: 767px) {
  .strength__content01, .strength__content02 {
    flex-direction: column; /* 縦並び */
    margin-top: 40px;
  }

  .strength__image {
    order: 1; /* 写真を先に */
  }

  .strength__text {
    order: 2; /* 文字を後に */
  }

  .strength__h3 {
    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .strength__desc {
    font-size: 1rem;
    text-align: 30px;
  }
}

.strength__image img {
  width: 1045px;
  height: auto;
}

/* デフォルトでは非表示 */
.br-sp02 {
  display: none;
}

/* 767px以下で改行 */
@media screen and (max-width: 767px) {
  .br-sp02 {
    display: block;
  }
}


/* service */
.service {
  padding-block: 65px 60px;
}

@media screen and (max-width: 767px) {
  .service {
    padding-block: 45px 0;
  }
}

.service__container {
  max-width: 880px;
  margin-inline: auto;
  margin-top: 45px;
  text-align: center;
  display: flex;
  column-gap: calc(50 / 880 * 100%);
}

@media screen and (max-width: 767px) {
  .service__container {
    flex-direction: column;
    margin-top: 44px;
  }
}

.service-item__desc01 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 8px 0;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .service-item__desc01 {
    margin: 0 0 10px 0;
  }
}

.service-item__desc02 {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .service-item__desc02 {
    font-size: 1rem;
  }
}


@media screen and (max-width: 767px) {
  .service-item__image {
    padding-block: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .service__item {
    margin-bottom: 41px;
  }
}

/* news */
.news {
  padding-block: 63px 68px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .news {
    padding-block: 41px 28px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 43px;
  max-width: none;
}

th {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 15px 0 15px 5px ;
  text-align: left;
}

td {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 0 0 0px 15px;
  text-align: left;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 30px;
}

tr {
  height: 60px;
}

@media screen and (max-width: 767px) {
  .line {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;  
  }
  tr {
    height: 162px;
  }
}

.th01 {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 25px;
  padding: 15px 0 0 19px;
}

.th02 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
  color: #0D96A0;
  padding: 20px 0 0 2px;
}



@media screen and (max-width: 767px) {
  .td {
    font-size: 1rem;
    line-height: 24px;
  }

  .th01 {
    padding: 28px 0 2px 10px;
  }

  .th02 {
    padding: 0 0 6px 10px;
  }

  th,td {
    border-top: 0;
    border-bottom: 0;
  }

  td {
    padding: 0 10px 10px 10px;
  }
  
  .td02 {
     letter-spacing: -0.0777em; /* 狭める */
  }

.table table {
  width: 100%;
  border-collapse: collapse;
}

tr.line02 {
  margin-top,
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  table, th, td, tr, tbody {
    display: block; /* 全部ブロック要素化 */
    width: 100%;
  }
}

/* access */
.access {
  padding-block: 64px 67px;
}

@media screen and (max-width: 767px) {
  .access {
    padding-block: 43px 50px;
  }
}

.access__content {
  display: flex;
  justify-content: center;
  column-gap: calc(46 / 880 * 100%);
  margin-top: 44px;
}

@media screen and (max-width: 767px) {
  .access__content {
    flex-direction: column;
    align-items: center; 
  }
}

.access__text {
  flex: 1;
  font-size: 1.125rem;
  line-height: 27px;
}

.access__image {
  max-width: 440px;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .access__image{
    padding-bottom: 29px;
    width: 100%;
  }
  
  .access__image img {
    width: 100%;
    height: auto;
  }
}

.access__text01 {
  font-size: 1.375rem;
  line-height: 33px;
  margin-bottom: 13px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .access__text01 {
    font-size: 1.375rem;
    margin-bottom: 12px;
  }
}

.access__text02 {
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 14px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .access__text02 {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.access__text03 {
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 5px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .access__text03 {
    font-size: 1rem;
    line-height: 27px;
    padding: 0 0 1px 1px;
  }
}

.access__text07 {
  color: #0D96A0;
  font-size: 1.5625rem;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .access__text07 {
    font-size: 1.5625rem;
    line-height: 40px;
    margin-bottom: 7px;
  }
}

.access__text04 {
  font-size: 1.125rem;
  line-height: 27px;
  font-weight: 500;
  margin-top: 9px;
}

@media screen and (max-width: 767px) {
  .access__text04 {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 0;
  }
}

.underline {
  border-bottom: #707070 1px solid;
  display: block;          /* 横幅を全体にする */
  padding-bottom: 18px;
}

.access__text ul {
  max-width: none;
}

.access__text05 {
  font-size: 1.125rem;
  line-height: 40px;
  margin-top: 15px;
  font-weight: 500;
  padding-left: 5px;
}

@media screen and (max-width: 767px) {
  .access__text05 {
    font-size: 1rem;
    line-height: 25px;
    padding-left: 0px;
  }
}

.access__text06 {
  font-size: 1.125rem;
  line-height: 40px;
  margin-top: 1px;
  font-weight: 500;
  padding-left: 5px;
}

@media screen and (max-width: 767px) {
  .access__text06 {
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.underline01 {
  border-bottom: #707070 1px solid;
  display: block;          /* 横幅を全体にする */
  padding-bottom: 13px;
}

@media screen and (max-width: 767px) {
  .underline01 {
    padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .access__text {
    justify-content: left;
    width: 100%;
  }
}

/* contact */
.contact {
  padding-block: 62px 80px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact {
      padding-block: 43px 50px;
  }
}

.section-desc {
  font-size: 1.06rem;
  line-height: 30px;
  margin: 25px 0 37px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-desc {
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    margin: 43px 0 34px 0;
  }
}

@media screen and (max-width: 440px) {
  .section-desc {
    text-align: left;
  }
}
.form {
  max-width: 880px;
  margin-inline: auto;
  margin-top: 29px;
}

.form__item {
  display: flex;
  column-gap: 30px;
}

.form__item:not(:first-of-type) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .form__item:not(:first-of-type) {
    margin-top: 17px;
  }
}

.form__label {
  font-size: 1.25rem;
  width: 140px;
  font-weight: 700;
  padding: 6px 0 1px 0;
  line-height: 33px;
}

.form__input {
  flex: 1;
}

.form__textarea {
  flex: 1;
  line-height: 0;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding-inline: 15px;
  font-size: 1.1rem;
}

textarea {
  background-color: #fff;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 15px;
  font-size: 1.1rem;
  line-height: 33px;
}

input[type="submit"] {
  width: 200px;
  height: 50px;
  background-color: #0D96A0;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.contact__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .contact__button input[type="submit"] {
    width: 100%;
    max-width: none;
  }
}

input[type="submit"]:hover {
  color: #FFF;
  background-color: #085358;
}

@media screen and (max-width: 767px) {
  .form__items {
    display: flex;
    flex-direction: column;
  }
  .form__item {
    display: flex;
    flex-direction: column;
  }
  .form__label {
    width: 100%;
  }

  .form__input,
  .form__textarea {
    width: 100%;
  }
}

.contact__button input[type="submit"] {
  letter-spacing: 0.1em; /* 文字間を広げる */
}

#form__content {
  letter-spacing: 1em; /* 文字間を広げる */
}


/* footer */
.footer {
  background-color: #505050;
  padding-block: 47px 68px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-block: 45px 50px;
  }
}

.footer__content {
  max-width: 737px;
  margin-inline: auto;
}

.footer-nav {
  border-bottom: 1px solid #fff;
  padding-block: 18px 9px;
}

.footer-nav__lists {
  display: flex;
  justify-content: center;
  column-gap: 14px;
  margin-block: 0 14px;
}

@media screen and (max-width: 767px) {
  .footer-nav__lists {
    display: flex;
    flex-wrap: wrap;        /* 画面幅に合わせて改行 */
    justify-content: center; /* 中央揃え */
  }
}

.footer-nav__list a {
  color: #fff;
}

.footer-nav__link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 33px;
}

@media screen and (max-width: 767px) {
  .footer-nav__link {
    font-size: 1.125rem;
    line-height: 33px;
  }
}

.footer-nav__list {
  list-style: none;
}

.footer__copyright {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 33px;
  margin-block: 27px 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 1rem;
    line-height: 33px;
    margin-block: 15px 28px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 33px;
    margin-block: 15px 28px;
  }
}

.sns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
  margin-top: 7px;
}

.sns__list img {
  max-width: 20px;
  height: auto;
}

.ib {
  word-spacing: 10px;
}